	<div class="body">
		<div class="container">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 sidebar">
					<ul class="nav nav-sidebar">
			            <li><strong class="caret pull-right"></strong>权限演示页面</li>
			            <li><a href="{:url('home/test/test1')}">测试页面一</a></li>
			            <li><a href="{:url('home/test/test2')}">测试页面二</a></li>
			            <li><a href="{:url('home/test/test3')}">测试页面三</a></li>
			            <li><a href="{:url('home/test/test4')}">测试页面四</a></li>
			            <li><a href="{:url('home/test/test5')}">测试页面五</a></li>
			            <li><strong class="caret pull-right"></strong>系统设置</li>
			            <li><a href="{:url('home/users/showuser')}">用户管理</a></li>
			            <li><a href="{:url('home/rolers/showrole')}">角色管理</a></li>
			            <li><a href="{:url('home/action/showact')}">权限管理</a></li>
			        </ul>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 content">
			<div class="container" style="color:red;font-size:20px;font-weight:900">您没有权限查看，请联系管理员开通</div>
	</div>
