
	<div class="body">
		<div class="container">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 sidebar">
					<ul class="nav nav-sidebar">
			            <li><strong class="caret pull-right"></strong>权限演示页面</li>
			            <li><a href="">测试页面一</a></li>
			            <li><a href="">测试页面二</a></li>
			            <li><a href="">测试页面三</a></li>
			            <li><a href="">测试页面四</a></li>
			            <li><a href="">测试页面五</a></li>
			            <li><strong class="caret pull-right"></strong>系统设置</li>
			            <li><a href="{:url('home/users/showuser')}">用户管理</a></li>
			            <li><a href="">角色管理</a></li>
			            <li><a href="">权限管理</a></li>
			        </ul>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 content">
<div>
    <h1>RBAC</h1>
    <p>基于角色的访问控制（Role-Based Access Control）作为传统访问控制（自主访问，强制访问）的有前景的代替受到广泛的关注。在RBAC中，权限与角色相关联，用户通过成为适当角色的成员而得到这些角色的权限。这就极大地简化了权限的管理。在一个组织中，角色是为了完成各种工作而创造，用户则依据它的责任和资格来被指派相应的角色，用户可以很容易地从一个角色被指派到另一个角色。角色可依新的需求和系统的合并而赋予新的权限，而权限也可根据需要而从某角色中回收。角色与角色的关系可以建立起来以囊括更广泛的客观情况</p>
    <p>项目源码地址：<a href="https://git.oschina.net/honoryao/tp5-rbac" >honoryao/tp5-rbac</a></p>
</div>
				<hr/>
		        <footer>
		            <p class="pull-left">@qq：2463523099</p>
		            <p class="pull-right">微信：15109269885</p>
		        </footer>
			</div>
		</div>
	</div>