

	<div class="body">
		<div class="container">
			<div>
			    <h1>RBAC</h1>
			    <form action="/public/home/admin/regist.html " method="post">
			    <table> 
			    <tr>
			    <td>用户名</td>
			    <td><input type="text" name="user_name"></td>
			    </tr>
			     <tr>
			    <td>密码</td>
			    <td><input type="password" name="user_password"></td>
			    </tr>
			      <tr>
			    <td>邮箱</td>
			    <td><input type="text" name="user_email"></td>
			    </tr>
			      <tr>
			    <td colspan="2"><input type="submit"  value="注册"></td>
			    </tr>
			    </table>
			    </form>
			    <p>项目源码地址：<a href="https://git.oschina.net/honoryao/tp5-rbac" >honoryao/tp5-rbac</a></p>
			</div>
		</div>
	</div>