<div>
    <h1>RBAC</h1>
    <form action="/public/home/admin/upuser.html " method="post">
    <table> 
    {volist name="userinfo" id="vo"  }
     <tr>
    <td>用户ID</td>
    <td><span>{$vo.id}</span></td>
    </tr>
    <tr>
    <td>用户名</td>
    <td><input type="text" name="user_name" value="{$vo.user_name}"></td>
    </tr>
      <tr>
    <td>邮箱</td>
    <td><input type="text" name="user_email" value="{$vo.user_name}"></td>
    </tr>
    <tr>
    <td>密码</td>
    <td><input type="password" name="user_password"></td>
    </tr>
    <tr>
    <td>重新确认密码</td>
    <td><input type="password" name="rpassword"></td>
    </tr>
      <tr>
    <td colspan="2"><input type="submit"  value="修改"></td>
    </tr>
    </table>
    </form>
    <p>项目源码地址：<a href="" ></a></p>
</div>