<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RBAC权限访问</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="H_CSSbootstrap.min.css" >
<style type="text/css">
    td{
     padding:5px 15px;
     border:1px #333 solid;
     }
     td a{
      padding:0px 10px;
     }
   </style>
</head>
<body>
	<div class="header">
		<div class="container">
			<nav class="navbar navbar-inverse " role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					 <a class="navbar-brand" href="/">这里放LOGO</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="/public/">Home</a>
						</li>
						<li>
							 <a href="#">权限控制</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">一个下拉框样式<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="#">一个链接</a>
								</li>
								<li>
									 <a href="#">Another一个链接</a>
								</li>
								<li>
									 <a href="#">这还是一个链接</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">分区块的链接</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="#">另一个分区块的链接</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav  navbar-right navbar-nav">
					{if condition="!isset($Think.session.userinfo['user_name'])&&!isset($Think.session.userinfo['user_id'])"}
				    <li><a href="{:url('home/admin/login')}">登 录</a></li>
				    <li><a href="{:url('home/admin/regist')}">注 册</a></li>
					{else /}
				   <li> <a href="{:url('home/admin/upuser',['id' => $Think.session.userinfo['user_id']])}">你好：{$Think.session.userinfo['user_name']}</a></li>
				   	<li><a href="{:url('home/admin/logout')}"> 退出</a></li>
				   {/if}
					</ul>
				</div>
			</nav>
		</div>
	</div>
					{__REPLACE__}
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="H_JSbootstrap.min.js"></script>
</body>
</html>