
	<div class="body">
		<div class="container">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 sidebar">
					<ul class="nav nav-sidebar">
			            <li><strong class="caret pull-right"></strong>权限演示页面</li>
			            <li><a href="{:url('home/test/test1')}">测试页面一</a></li>
			            <li><a href="{:url('home/test/test2')}">测试页面二</a></li>
			            <li><a href="{:url('home/test/test3')}">测试页面三</a></li>
			            <li><a href="{:url('home/test/test4')}">测试页面四</a></li>
			            <li><a href="{:url('home/test/test5')}">测试页面五</a></li>
			            <li><strong class="caret pull-right"></strong>系统设置</li>
			            <li><a href="{:url('home/users/showuser')}">用户管理</a></li>
			            <li><a href="{:url('home/rolers/showrole')}">角色管理</a></li>
			            <li><a href="{:url('home/action/showact')}">权限管理</a></li>
			        </ul>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 content">
			<a class="pull-right" href="{:url('home/rolers/showrole')}">返回列表</a>
				<div>
				  <form action="{:url('home/rolers/dorole')}"  method="post">
				  <table> 
				  {present name="roles"}
							 <tr>
						    <td>ID</td>    <td>{$roles['roles_id']}<input type="hidden" name="roles_id" value="{$roles['roles_id']}"></td>   
						    </tr>
						    <tr>
								<td>角色名称</td>    <td><input type="text" name="roles_name" value="{$roles['roles_name']}"></td>
							</tr>
							{notempty name="access"}
							<tr>
								<td>权限列表</td>
								<td>
									{foreach $access as $access_item}
					    			<label> <input type="checkbox" name="access_id[]" value="{$access_item['access_id']}" 
					    			{if condition="in_array($access_item['access_id'],$rc_accessid)"}checked{/if}>{$access_item['ac_name']}</label>
					    			{/foreach}
								</td>
							</tr>
							{/notempty}
							<tr>
							<td colspan="2"><input type="submit"  value="修改"><input type="button"  value="返回" onclick="javascript:history.back(-1)"></td>
							</tr>
					{else /}
				    <tr>
						<td>角色名称</td>
						<td><input type="text" name="roles_name" value=""></td>
					</tr>
					<tr>
					<td colspan="2"><input type="submit"  value="添加"><input type="button"  value="返回" onclick="javascript:history.back(-1)"></td>
					</tr>
					{/present}
				    </table>
				    </form>	
				    <p>项目源码地址：<a href="https://git.oschina.net/honoryao/tp5-rbac" >honoryao/tp5-rbac</a></p>
				</div>
				<hr/>
		        <footer>
		            <p class="pull-left">@qq：2463523099</p>
		            <p class="pull-right">微信：15109269885</p>
		        </footer>
			</div>
		</div>
	</div>