
	<div class="body">
		<div class="container">
			<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 sidebar">
					<ul class="nav nav-sidebar">
			            <li><strong class="caret pull-right"></strong>权限演示页面</li>
			            <li><a href="{:url('home/test/test1')}">测试页面一</a></li>
			            <li><a href="{:url('home/test/test2')}">测试页面二</a></li>
			            <li><a href="{:url('home/test/test3')}">测试页面三</a></li>
			            <li><a href="{:url('home/test/test4')}">测试页面四</a></li>
			            <li><a href="{:url('home/test/test5')}">测试页面五</a></li>
			            <li><strong class="caret pull-right"></strong>系统设置</li>
			            <li><a href="{:url('home/users/showuser')}">用户管理</a></li>
			            <li><a href="{:url('home/rolers/showrole')}">角色管理</a></li>
			            <li><a href="{:url('home/action/showact')}">权限管理</a></li>
			        </ul>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 content">
																{/*if condition="$Think.session.userinfo['user_type']=='0'"*/}
			<a class="pull-right" href="{:url('home/rolers/dorole')}">添加角色</a>
				<div>
				  <table> 
		     		<tr>
					    <td>ID</td>
					    <td>角色名称</td>   
					    <td>操作</td>   
				    </tr>
				    {notempty name="roles"}
					 {volist name="roles" id="vo"}
					 <tr>
						<td>{$vo.roles_id}</td>
						<td>{$vo.roles_name}</td>
						<td>
								<a href="{:url('home/rolers/dorole',['id' => $vo['roles_id']])}">修改</a>
								<a href="{:url('home/rolers/bindact',['id' => $vo['roles_id']])}">设置权限</a>
								<a href="{:url('home/rolers/delrole',['id' => $vo['roles_id']])}"">删除</a>
						</td>
					</tr>
					{/volist}
					{/notempty}
				    </table>
																	    {/*else/*/}
																	    <!--div ><span style="color:red; font-size:18px; font-weight:900;">无权进行此操作</span></div-->	    
															     		{/*/if*/}
				    <p>项目源码地址：<a href="https://git.oschina.net/honoryao/tp5-rbac" >honoryao/tp5-rbac</a></p>
				</div>
				<hr/>
		        <footer>
		            <p class="pull-left">@qq：2463523099</p>
		            <p class="pull-right">微信：15109269885</p>
		        </footer>
			</div>
		</div>
	</div>